.course {
  position: relative;

  padding-top: 56px;
  padding-bottom: 90px;

  overflow: hidden;

  @include m-768 {
    padding-top: 0;
  }

  &::before {
    content: "и/или";
    position: absolute;
    top: 165px;
    left: 0;
    z-index: -10;

    width: 100%;

    color: #ebedf7;
    font-size: 318px;
    font-weight: 900;
    line-height: 340px;
    text-align: center;

    @include m-1200 {
      top: 175px;

      font-size: 280px;
    }

    @include m-900 {
      top: 200px;

      font-size: 240px;
    }

    @include m-768 {
      width: auto;

      right: 15px;
      top: 225px;

      line-height: 100px;
      font-size: 120px;

      writing-mode: vertical-lr;
      transform: rotate(180deg);
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .course__title {
    color: #273061;
    font-size: 35px;
    font-weight: 700;
    line-height: normal;
    text-align: center;

    span {
      color: #000000;
    }
  }

  .course__list {
    margin-top: 118px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 835px;

    @include m-900 {
      width: 100%;
    }

    @include m-768 {
      margin-top: 79px;
      flex-direction: column;
    }

    .course__list-item {
      flex-basis: 43%;
      margin-bottom: 125px;

      @include m-768 {
        margin-bottom: 86px;
        flex-basis: 0;
        width: 100%;
        justify-content: center;
      }
    }

    .course__list-text {
      color: #000000;
      font-size: 25px;
      font-weight: 400;
      line-height: normal;

      span {
        font-weight: 700;
      }

      @include m-768 {
        width: 84%;
        padding-left: 25%;
      }

      @include m-600 {
        width: 100%;
        padding-left: 0;
      }
    }
  }

  .course__button {
    padding: 20px 59px;
    margin-top: -34px;

    color: #ffffff;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;

    border-radius: 30px;
    background-color: #273061;

    transition: 0.3s;

    &:hover {
      box-shadow: 0 0 0 2px white,
                  0 0 0 4px #273061;

      transition: 0.3s;
    }
  }
}
