.course {
  position: relative;

  padding-top: 56px;
  padding-bottom: 90px;

  &::before {
    content: "и/или";
    position: absolute;
    top: 193px;
    left: 0;
    z-index: -10;

    // margin-left: -469px;
    width: 100%;

    color: #ebedf7;
    font-size: 340px;
    font-weight: 900;
    line-height: 340px;
    text-align: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .course__title {
    color: #273061;
    font-size: 35px;
    font-weight: 700;
    line-height: normal;

    span {
      color: #000000;
    }
  }

  .course__list {
    margin-top: 118px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-left: 115px;
    justify-content: flex-start;

    .course__list-item {
      flex-basis: 50%;
      margin-bottom: 125px;

      color: #000000;
      font-size: 25px;
      font-weight: 400;
      line-height: normal;

      span {
        font-weight: 700;
      }
    }
  }

  .course__button {
    padding: 20px 59px;
    margin-top: -34px;

    color: #ffffff;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;

    border-radius: 30px;
    background-color: #273061;

    transition: 0.3s;

    &:hover {
      box-shadow: 0 0 0 2px white,
                  0 0 0 4px #273061;

      transition: 0.3s;
    }
  }
}
