.list {
  position: relative;

  padding-top: 114px;
  // padding-bottom: 100px;
  display: flex;
  justify-content: center;

  &::before {
    content: "а также";
    position: absolute;
    top: 242px;
    left: 0;
    z-index: -10;

    // margin-left: -469px;
    // width: 938px;
    width: 100%;

    color: #ebedf7;
    font-size: 258px;
    font-weight: 900;
    line-height: 258px;
    text-align: center;
  }

  .container {
    // position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .list__title {
    color: #000000;
    font-size: 35px;
    font-weight: 700;
    line-height: normal;

    span {
      color: #273061;
    }
  }

  .list__list {
    margin-top: 121px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 45px;

    .list__list-item {
      flex-basis: 50%;
      margin-bottom: 119px;
      display: flex;
      padding-left: 200px;

      .list__list-text {
        position: relative;

        color: #000000;
        font-size: 23px;
        font-weight: 400;
        line-height: normal;

        &::before {
          position: absolute;
          top: calc((100% - 120px) / 2);
          left: -102px;

          color: #273061;
          font-family: $font2;
          font-size: 120px;
          font-weight: 400;
          line-height: 120px;
        }
      }

      span {
        font-weight: 700;
      }

      &:nth-of-type(1) {

        .list__list-text::before {
          content: "1";
        }
      }

      &:nth-of-type(2) {

        .list__list-text::before {
          content: "2";
        }
      }

      &:nth-of-type(3) {

        .list__list-text::before {
          content: "3";
        }
      }

      &:nth-of-type(4) {

        .list__list-text::before {
          content: "4";
        }
      }

      &:nth-of-type(5) {

        .list__list-text::before {
          content: "5";
        }
      }
    }

    .list__list-button {
      padding: 20px 57px;
      margin-left: -45px;

      border-radius: 30px;
      background-color: #273061;

      color: #ffffff;
      font-size: 17px;
      font-weight: 600;
      text-transform: uppercase;

      transition: 0.3s;

      &:hover {
        box-shadow: 0 0 0 2px white,
                    0 0 0 4px #273061;

        transition: 0.3s;
      }
    }
  }

  // .list__bg-text {
  //   position: absolute;
  //   top: 193px;
  //   left: 0;
  //   z-index: -10;

  //   color: #ebedf7;
  //   font-size: 258px;
  //   font-weight: 900;
  //   text-align: center;
  // }
}
