.list {
  position: relative;

  padding-top: 114px;
  display: flex;
  justify-content: center;

  overflow: hidden;

  @include m-900 {
    padding-top: 88px;
  }

  &::before {
    content: "а также";
    position: absolute;
    top: 232px;
    left: 0;
    z-index: -10;

    width: 100%;

    color: #ebedf7;
    font-size: 258px;
    font-weight: 900;
    line-height: 258px;
    text-align: center;

    @include m-1200 {
      font-size: 200px;
    }

    @include m-900 {
      font-size: 170px;
    }

    @include m-768 {
      width: auto;
      right: 15px;

      line-height: 100px;
      font-size: 120px;

      writing-mode: vertical-lr;
      transform: rotate(180deg);
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .list__title {
    color: #000000;
    font-size: 35px;
    font-weight: 700;
    line-height: normal;
    text-align: center;

    span {
      color: #273061;
    }
  }

  .list__list {
    margin-top: 121px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 865px;
    justify-content: space-between;

    @include m-900 {
      width: 100%;
    }

    @include m-768 {
      margin-top: 75px;
      flex-direction: column;
    }

    .list__list-item {
      flex-basis: 42%;
      margin-bottom: 119px;
      display: flex;

      @include m-768 {
        margin-bottom: 86px;
        flex-basis: 0;
        width: 100%;
        justify-content: center;
      }

      .list__list-text {
        position: relative;

        padding-left: 102px;

        color: #000000;
        font-size: 23px;
        font-weight: 400;
        line-height: normal;

        @include m-768 {
          width: 70%;
        }

        @include m-600 {
          width: 100%;
          padding-left: 71px;
        }

        &::before {
          content: "";
          position: absolute;
          top: calc((100% - 73px) / 2);
          left: 0;

          width: 36px;
          height: 73px;

          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;

          // color: #273061;
          // font-family: $font2;
          // font-size: 120px;
          // font-weight: 400;
          // line-height: 120px;
        }
      }

      span {
        font-weight: 700;
      }

      &:nth-of-type(1) {

        .list__list-text::before {
          background-image: url("../img/1-1.png");
        }
      }

      &:nth-of-type(2) {

        .list__list-text::before {
          background-image: url("../img/2-2.png");
        }
      }

      &:nth-of-type(3) {

        .list__list-text::before {
          background-image: url("../img/3-3.png");
        }
      }

      &:nth-of-type(4) {

        .list__list-text::before {
          background-image: url("../img/4-4.png");
        }
      }

      &:nth-of-type(5) {

        .list__list-text::before {
          background-image: url("../img/5-5.png");
        }
      }

      &:nth-of-type(6) {
        justify-content: center;
      }
    }

    .list__list-button {
      padding: 20px 57px;

      border-radius: 30px;
      background-color: #273061;

      color: #ffffff;
      font-size: 17px;
      font-weight: 600;
      text-transform: uppercase;

      transition: 0.3s;

      &:hover {
        box-shadow: 0 0 0 2px white,
                    0 0 0 4px #273061;

        transition: 0.3s;
      }
    }
  }
}
