.adventages {
  padding-top: 82px;
  padding-bottom: 63px;

  background-color: #ebedf7;

  overflow: hidden;

  @include m-768 {
    padding-top: 65px;
    padding-bottom: 92px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .adventages__title {
    color: #000000;
    font-size: 35px;
    font-weight: 700;
    line-height: normal;
    text-align: center;

    span {
      color: #273061;
    }
  }

  .adventages__list {
    margin-top: 127px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1050px;

    @include m-1200 {
      width: 100%;
    }

    @include m-768 {
      margin-top: 80px;
    }

    .adventages__list-item {
      flex-basis: 45%;
      margin-bottom: 81px;
      padding-left: 142px;

      @include m-768 {
        flex-basis: 100%;
        margin-bottom: 80px;
      }

      &:nth-of-type(1) {

        .adventages__list-title::before {
          top: 13px;
          left: -130px;

          width: 71px;
          height: 101px;

          background-image: url("../img/svg/1.svg");

          @include m-1200 {
            top: -1px;
          }
        }
      }

      &:nth-of-type(2) {

        .adventages__list-title::before {
          top: 16px;
          left: -137px;

          width: 78px;
          height: 98px;

          background-image: url("../img/svg/2.svg");

          @include m-1200 {
            top: -11px;
          }
        }
      }

      &:nth-of-type(3) {

        .adventages__list-title::before {
          top: 5px;
          left: -137px;

          width: 81px;
          height: 81px;

          background-image: url("../img/svg/3.svg");

          @include m-1200 {
            top: -14px;
          }
        }
      }

      &:nth-of-type(4) {

        .adventages__list-title::before {
          top: 0;
          left: -142px;

          width: 88px;
          height: 92px;

          background-image: url("../img/svg/4.svg");

          @include m-1200 {
            top: -19px;
          }
        }
      }

      &:nth-of-type(5) {

        .adventages__list-title::before {
          top: -13px;
          left: -136px;

          width: 83px;
          height: 105px;

          background-image: url("../img/svg/5.svg");

          @include m-1200 {
            top: -23px;
          }
        }
      }

      &:nth-of-type(6) {

        .adventages__list-title::before {
          top: -13px;
          left: -139px;

          width: 81px;
          height: 103px;

          background-image: url("../img/svg/6.svg");

          @include m-1200 {
            top: -19px;
          }
        }
      }
    }

    .adventages__list-title {
      position: relative;

      color: #000000;
      font-size: 30px;
      font-weight: 700;
      line-height: normal;

      @include m-1200 {
        height: 99px;
      }

      &::before {
        content: "";
        position: absolute;

        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }

    .adventages__list-text {
      margin-top: 29px;

      color: #000000;
      font-size: 25px;
      font-weight: 400;
      line-height: normal;

      @include m-1200 {
        margin-top: 43px;
        margin-left: -142px;
      }
    }
  }

  .adventages__button {
    margin-top: 32px;
    padding: 20px 61px;

    color: #ffffff;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;

    border-radius: 30px;
    background-color: #273061;

    transition: 0.3s;

    &:hover {
      box-shadow: 0 0 0 2px white,
                  0 0 0 4px #273061;

      transition: 0.3s;
    }

    @include m-768 {
      margin-top: 14px;
    }
  }
}
