.top {
  padding-top: 46px;
  padding-bottom: 100px;

  background-image: url("../img/svg/top-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .top__logo-wrapper {
    width: 198px;
    height: 46px;
    margin: 0 auto;

    overflow: hidden;

    .top__logo {
      object-fit: contain;
    }
  }

  .top__top-block {
    display: flex;
    justify-content: space-between;
    margin-top: 23px;
  }

  .top__title {
    margin-top: 103px;

    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
  }

  .top__top-text {
    margin-top: 70px;

    color: #ffffff;
    font-size: 25px;
    font-weight: 400;
    line-height: normal;

    span {
      font-weight: 700;
    }
  }

  .top__img-wrapper {
    width: 376px;
    height: 472px;

    overflow: hidden;

    .top__img {
      object-fit: contain;
    }
  }

  .top__bottom-block {
    display: flex;
    align-items: flex-start;
    margin-top: 64px;
  }

  .top__button {
    padding: 19px 61px;

    border-radius: 30px;
    background-color: #ffffff;

    color: #171e45;
    font-size: 17px;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
  }

  .top__bottom-text {
    margin-left: 44px;

    color: #ffffff;
    font-size: 23px;
    font-weight: 400;
    line-height: normal;

    span {
      font-weight: 700;
    }
  }
}
