.top {
  padding-top: 46px;
  padding-bottom: 100px;

  background-image: url("../img/svg/top-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #273061;

  @include m-768 {
    padding-top: 27px;
    padding-bottom: 93px;

    background-position-y: -130px;
  }

  .top__logo-wrapper {
    width: 198px;
    height: 46px;
    margin: 0 auto;

    overflow: hidden;

    .top__logo {
      object-fit: contain;
    }
  }

  .top__top-block {
    display: flex;
    justify-content: space-between;
    margin-top: 23px;

    @include m-768 {
      flex-direction: column;
      align-items: center;
      margin-top: 130px;
    }
  }

  .top__title {
    margin-top: 103px;

    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    line-height: normal;

    @include m-768 {
      margin-top: 0;
    }
  }

  .top__top-text {
    margin-top: 70px;

    color: #ffffff;
    font-size: 25px;
    font-weight: 400;
    line-height: normal;

    span {
      font-weight: 700;
    }

    @include m-768 {
      margin-top: 43px;
    }
  }

  .top__img-wrapper {
    width: 376px;
    height: 472px;

    overflow: hidden;

    @include m-768 {
      width: 309px;
      height: 390px;
      margin-top: 42px;
    }

    .top__img {
      object-fit: contain;
    }
  }

  .top__bottom-block {
    display: flex;
    align-items: flex-start;
    margin-top: 64px;

    @include m-768 {
      flex-direction: column;
      align-items: center;
      margin-top: 50px;
    }
  }

  .top__button {
    padding: 19px 61px;

    border-radius: 30px;
    background-color: #ffffff;

    color: #171e45;
    font-size: 17px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;

    transition: 0.3s;

    &:hover {
      box-shadow: inset 0 0 0 2px white,
                  inset 0 0 0 4px #273061;

      transition: 0.3s;
    }

    @include m-768 {
      padding: 19px 49px;
    }
  }

  .top__bottom-text {
    margin-left: 44px;

    color: #ffffff;
    font-size: 23px;
    font-weight: 400;
    line-height: normal;

    span {
      font-weight: 700;
    }

    @include m-768 {
      margin-top: 29px;
      margin-left: 0;
    }
  }
}
